<!-- projets -->
<div
	class="container my-24 px-6 mx-auto  rounded-lg bg-pink-100 shadow-lg ">
	<!-- Section: Design Block -->
	<section class="mb-32 text-gray-800 text-center lg:text-left">
		<h2 class="text-3xl font-bold mb-12 text-center">Mes derniers Projets</h2>
		<div class="grid lg:grid-cols-3 gap-x-6">
			{% for projet in projets %}
				<div class="mb-12 lg:mb-0 lg:pb-14">
					<div class="shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover mb-6" style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
						{% if projet.imageName %}
							<img src="{{ asset('uploads/projets/' ~ projet.imageName) }}" class="w-full"/>
						{% endif %}

						<a href="{{ projet.lien }}" target="_blank">
							<div class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100" style="background-color: rgba(251, 251, 251, 0.2)"></div>
						</a>


					</div>
					<h5 class="text-lg font-bold mb-3">{{projet.nom}}</h5>
					<div class="mb-3 text-pink-500 font-medium text-sm flex items-center justify-center lg:justify-start">
						{% for categorie in projet.categorie %}
							<span class="mr-2">{{ categorie.label }}</span>
						{% endfor %}
					</div>
					<p class="text-gray-500">
						{{projet.difficultes}}
					</p>
				</div>
			{% endfor %}
		</div>
	</section>
</div>
